@import "./assets/vendors/light.min.css";
@import "./assets/vendors/dualselect/dist/bootstrap-duallistbox.css";
/* You can add global styles to this file, and also import other style files */
//@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~flatpickr/dist/flatpickr.min.css";

.mat-table__wrapper {
	width: 100%;
	overflow-x: auto;


	mat-cell, mat-header-cell {
		min-height: 100%;
	}


}

.mat-table__wrapper .mat-table {
	min-width: 1000px;
	width: 100%;
}

.mat-table__wrapper--dashboard .mat-table {
	min-width: 600px !important;
}


.mat-table__wrapper .mat-table .email-cell {
	word-wrap: normal;
	width: 180px;
	flex: auto;
}


.m-mat-dialog-container__wrapper .mat-dialog-container {
	padding: 0;
	overflow-x: hidden;

	.m-portlet {
		margin-bottom: 0;
	}

	.alert {
		border-radius: 0 !important;
		width: 1032px;
	}
}

.mat-table__wrapper--sub .mat-table {
	min-width: 400px;

	.mat-cell:last-child {
		flex: 0 0 100px;
	}

	.mat-header-cell:last-child {
		flex: 0 0 100px;
	}
}

.ml-auto {
	margin-left: auto;
}

.example-full-width {
	width: 100%;
}

mat-radio-button {
	padding-right: 16px;
}

.m-form--alert {
	margin-top: 30px;
}

.mat-column-checkbox {
	flex: 0 0 68px;
}

.mat-column-id {
	flex: 0 0 68px;
}

.mat-column-main {
	flex: 0 0 568px;
}

.mat-column-actions {
	flex: 0 0 160px;
}

.mat-table__bottom {
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

.mat-column-vinCode {
	flex: 0 0 170px;
}

.m-portlet-mx-0 {
	margin: -1.1rem -2.2rem 0;
	overflow-x: hidden;
}
.mat-table__wrapper .mat-table .mat-row-editing.mat-row-inactive {
	height: 0;
	min-height: 0;
	padding: 0 !important;
	border-bottom:0 !important;
}

.im-link__danger {
	color: #FA1339 !important;
}

.im-link__purple {
	color: var(--purple) !important;
}

.im-gray-btn {
	background: #EBEDF2!important;
}

.m-counter-container {
	padding: 0 30px 0 30px;
}

.flex {
	display: flex !important;
}

.form-control-feedback {
	position: absolute;
    right: 30px;
	top: 50%;
	transform: translateY(50%)
}

.ui-colorpicker-preview {
    width: 100% !important;
}

.ui-colorpicker-overlay {
	width: calc(100% - 30px) !important;
}

.btn-icon {
	font-size: 22px;
	margin-right: 7px;
}

.btn-margin-right {
	margin-right: 10px;
}

.m-login__options {
	display: flex!important;
	justify-content: center !important;
}

.dataTables_length {
	display: none;
}

.dataTables_filter {
	display: none;
}

.select2-selection {
	height: 40px !important;
	border-radius: 0 !important;
	border-color: #ebedf2 !important;
	color: #575962 !important;
	display: flex !important;
	align-items: center !important;
}

.select2-selection__arrow {
	top: 50% !important;
}

.select2-container {
	width: 100% !important;
}

.font-22 {
	font-size: 22px !important;
}

.invalid-show {
	display: block !important;
}

file-drop {
	width: 100% !important;
	margin: 15px;
}

.drop-zone {
	border-radius: 10px;
}

.ui-colorpicker-preview {
	height: 20px !important;
}

.ui-calendar {
	width: 100%;
}

.ui-inputtext {
	border: 1px solid #ced4da !important;
}

.error {
	color: red;
	font-size: 10px;
}

.m-radio.m-radio--state-error>span,
input[type="text"].ng-dirty.ng-invalid,
input[type="email"].ng-dirty.ng-invalid,
input[type="password"].ng-dirty.ng-invalid,
.error-box {
	border: 1px solid red;
	padding: 1px;

	~ .input-group-append {
		border: 1px solid red;
	}
}

.bootstrap-duallistbox-container .info-container {
	font-size: 18px;

	.badge-warning {
		font-size: 12px;
	}
}

.ui-multiselect {
	width: 100% !important;
	height: 35px !important;
	border: 1px solid #aaa !important;
}


m-counter-banner{
    flex: 1;
}


.custom-file-input:lang(en) ~ .custom-file-label::after {
    content: "Browse" !important;
}

.custom-file-input:lang(es) ~ .custom-file-label::after {
    content: "Seleccionar" !important;
}


.invalid-container {
    border: 1px solid #f4516c !important;
}

@media(max-width: 800px) {
	.m-portlet__body {
		padding: 10px !important;
	}
}

.m-widget3 .m-widget3__item .m-widget3__header .m-widget3__user-img .m-widget3__img {
	width: 3.2rem;
	height: 3.2rem;
	object-fit: cover;
}

.note-toolbar-wrapper {
    height: auto !important;
}


@media (min-width: 1025px) {
	.m-header--fixed .m-header {
		z-index: 9999 !important;
	}
}

.note-editor.note-frame.card {
	min-height: 200px;
}

.m-login.m-login--6 .m-login__aside {
    width: 60% !important;
}

m-forgot-password{ // m-register
	flex: 1 !important;
	display: flex !important;
	flex-direction: column !important;
	background-color: white !important
}
	
m-code{
	flex: 1 !important;
	display: flex !important;
	flex-direction: column !important;
}
	

.m-grid.m-grid--ver-desktop.m-grid--desktop>.m-grid__item.m-grid__item--fluid, .m-grid.m-grid--ver-desktop.m-grid--desktop>.m-grid__item.m-grid__item--fluid-desktop {
	max-width: calc(100% - 20px);
}

@media (max-width: 768px) {
	.m-grid>.m-grid__item {
		max-width: 100% !important;
	}
}


.intl-tel-input {
	width: 100%;
}


.note-dialog .modal-dialog{ z-index:1050; }

.modal-backdrop, .modal-backdrop.in{
	z-index: 1;
  }

.bootstrap-duallistbox-container  {
	.btn-group.buttons {
		background: rgb(245, 245, 245) !important;

		.btn  {
			color: #929292 !important;
		}
	}
}

.blockUI.blockOverlay {
	background: #f2f3f8 !important;
	opacity: 1 !important;
	z-index: 9999 !important;
}

.blockUI.blockMsg.blockPage {
	z-index: 10000 !important;
}


.required {
	color: var(--primary);
	font-weight: bold;
	font-size: 1em;
	line-height: 1em;
}

.mat-raised-button.mat-primary:disabled {
	background: var(--primary) !important;
	opacity: 0.5;
	color: white !important;
}

input.ng-dirty.ng-invalid {
	padding: .85rem 1.15rem !important;
}